<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://camel.apache.org/schema/cxf/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://camel.apache.org/schema/cxf/jaxws http://camel.apache.org/schema/cxf/jaxws/camel-cxf-3.21.0-spring.xsd">

    <cxf:cxfEndpoint id="userEndpoint" address="/UserService"
                     endpointName="UserServicePortType"
                     serviceName="UserService"
                     serviceClass="ru.kuzds.userflow.userservice.UserServicePortType"
                     xmlns="http://www.kuzds.ru/userflow/userservice"/>
</beans>